.search-bar-container {
    margin:1rem;
    display: flex;
    justify-content: center;
}

.search-bar-container input{
    height: 2rem;
    border-radius: 0.25rem;
    border: 0.2rem solid darkgrey;
    padding: 0 0.5rem;
    font-size: 14px;
}

.search-bar-container .search-btn {
    appearance: unset;
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    background: darkgray;
    border: 0.2rem solid darkgray;
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;

}

.cards-container {
    display: flex;
    align-items:center;
    flex-direction: column;
}
header{
    font-family: sans-serif;
    color: gray;
    display: flex;
    justify-content: center;

}

.card {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 0.5rem solid black; */
    /* border-radius: 15% ; */
    margin:1rem;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

@media screen and (max-width:992px) {
    .card {
        width: 70%;
    }
}

@media screen and (max-width:768px) {
    .card {
        width: 90%;
    }
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
    padding: 1rem;
}

.card-container >p {
    font-size: 0.9rem;
}

.card >img {
    width: 40%;
    align-self: center;
    padding-top: 1rem;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid darkgray;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-top: 2rem;
}
  
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}