<header>
  <h1>Books Search</h1>
</header>

<div class="search-bar-container">
  <input placeholder="Search.." type="text" [(ngModel)]="searchText" />
  <button class="search-btn" (click)="onSearch()">Search</button>
</div>

<div class="cards-container">
  <ng-container *ngIf="!isLoading; else loader">
    <ng-container *ngFor="let volume of booksVolumes">
      <div class="card">
        <img
          [src]="volume.volumeInfo?.imageLinks?.thumbnail"
          [alt]="volume.volumeInfo.title"
        />
        <div class="card-container">
          <h2>{{ volume.volumeInfo.title }}</h2>
          <p>{{ volume.volumeInfo.description }}</p>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #loader>
    <div class="loader"></div>
  </ng-template>
</div>
